*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #945633;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px;
}
.nav-bar .title{
    color: #fff;
    font-size: 67px;
    font-weight: 600;
}
span{
    color: crimson;
}
.nav-bar p{
    position: absolute;
    margin-top: 100px;
    margin-left: 50px;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
}
.menu li{
    list-style: none;
    display: inline-block;
}
.menu li a{
    text-decoration: none;
    color: #fff;
    font-size: 27px;
    font-weight: 600;
    margin-left: 25px;
    transition: .4s ease;
}
.menu li a:hover{
    color: crimson;
    padding: 8px 20px;
    border: 2px solid #fff;
}
.home{
    height: 400px;
    padding: 70px;
}
.home p{
    color: lemonchiffon;
    font-size: 20px;
    padding-top: 10px;
}
.home button{
    height: 40px;
    color: #fff;
    background: crimson;
    padding: 5px 30px;
    margin-top: 20px;
    cursor: pointer;
}
.text{
    text-decoration: none;
    color: #fff;
}
input{
    height: 40px;
    width: 30%;
}
.con1{
    margin-left: 50px;
    margin-top: 50px;
    color: #ffffffc0;
}
.con2{
    margin-top: 20px;
}
.con3{
    text-decoration: none;
    color: #fff;
    background-color: #945633;
    height: 40px;
    width: 100px;
}